
.single-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.single-view-main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
}
.sorting-filtering-wrapper {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-bottom: 20px; 
  margin-left: 130px;
}


.single-view-content {
  display: flex;
  max-width: 1000px; 
}

.single-view-card, .single-view-comments-container {
  margin: 0 10px;
}

.single-view-comments-container {
  flex: 1; 
  max-width: 300px; 
  overflow-y: auto;
  max-height: 600px; 
  margin-right: 80px;
}
.single-view-card {
  flex: 2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid darkgray;
  padding: 15px;
  max-width: 500px;
  position: relative;
  height: 600px;
}

.single-view-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.single-view-image img {
  max-width: 100%;
  max-height: 450px; 
  height: auto;
  object-fit: contain; 
}

.single-view-info {
  margin-top: 10px;
  
}

.single-view-title,
.single-view-description {
  margin: 10px 0;
  text-align: center;
}

.single-view-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-buttons-group,
.secondary-action-buttons-group {
  margin-bottom: 10px; /* Spacing between button groups */
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 5px;
}

.singleView-share-button {
  
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: auto;
}

.single-view-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.single-view-navigation .nav-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.single-view-navigation .previous-button {
  margin-left: -105px;
}

.single-view-navigation .next-button {
  margin-right: -50px; 
}